/* Regras gerais */
body {
  padding-top: 3rem;
  padding-bottom: 3rem;
  margin-left: 3rem;
  margin-top: 3rem;
  margin-right: 3rem;
  color: rgb(var(--bs-tertiary-color-rgb));
}

h2 + .container {
  margin-bottom: 2rem;
  text-align: center;
}

/* Regras relevantes para Home */
.main-title {
    margin-bottom: 2rem;
}

.main-divider {
  margin: 5rem 0;
}

.main-heading {
  letter-spacing: -.05rem;
}

.quoteRow {
margin-top: 2rem;
margin-bottom: 2rem;
}

/* Regras relevantes para as categorias */
.filter-divider {
    margin: 2rem 0;
}

.separation {
    margin-top: 1.5rem;
}

#submit-button {
    margin-top: 1rem;
}

/* Comportamento adicional */
a:visited {
    color:rgb(185, 185, 185);
}

::spelling-error {
    color: red;
}